/*open sanss*/
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans-Semibold.woff2') format('woff2'),
  url('fonts/open-sans/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans.woff2') format('woff2'),
  url('fonts/open-sans/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
  url('fonts/open-sans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
  url('fonts/open-sans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open-sans/OpenSans-Extrabold.woff2') format('woff2'),
  url('fonts/open-sans/OpenSans-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

