@using System.Security.Claims
@using IdentityModel
@using Microsoft.AspNetCore.Authentication
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Hello</h1>
    @foreach (Claim i in User.Claims)
    {
        <h3>@i.Type - @i.Value</h3>
    }
    <p>
        @User.FindFirst("http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value
    </p>
    <pre>
        @ViewBag.UserInfo
    </pre>
    <a asp-action="UserInfo">UserInfo</a>
    <a asp-action="SignOut">SignOut</a>
</div>
</body>
</html>