@media (max-width: 767px) {
  .hide-sm {
    display: none !important;
  }
  .only-sm {
    display: block !important;
  }

  body {
    background-color: #fff;
    font-weight: 400;
  }
  .bg-title {
    padding: 10px 15px;
  }

  h2.main-title {
    font-size: 1.6em;
    text-align: left;
    & + .text-center {
      text-align: left;
      & + span.line-orange {
        display: none;
      }
    }
    & + span.line-orange {
      display: none;
    }
  }

  .line-orange + .margin-top-30 {
    margin-top: -25px;
  }

  .content-flex-between {
    display: block;
    padding: 0;
    margin: 0;
    .input-search.margin-h8 {
      margin: 10px 0;
      width: 100%;
      border-color: #d2d2d2;
    }

    button {
      width: 100%;
      max-width: none;
      margin: 5px 0;
    }

    button.btn-icon-sm {
      width: 24px;
      display: inline-block;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .white-container-mobile {
    margin: -15px;
    padding: 15px;
    background-color: white;
  }
  .has-menu-bottom {
    padding-bottom: 70px !important;
  }

  .line-gray {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .button-right {
    button {
      margin: 5px;
    }
  }

  // modal

  .swal2-show.custom-modal {
    width: 100%;
    .swal2-content > div {
      width: 100%;
    }
  }

  // menu
  .navbar,
  .navbar-logged {
    .mobile-menu {
      width: 34px;
      display: inline-block;
      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
      }
    }
    .container-mobile-menu {
      position: fixed;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      top: 0;
      z-index: 9;
      .menu-navbar-right {
        li {
          display: block;
          width: 100%;
          font-size: 20px;
          margin: 40px 0;
        }
      }
    }

    .cross-icon {
      display: block;
      position: absolute;
      font-size: 0;
      background-size: contain;
      width: 30px;
      height: 30px;
      background: url("assets/images/icon_cross_white.svg") no-repeat 50%;
      opacity: 0.9;
      right: 28px;
      top: 14px;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  }

  .line-orange + .sm-margin-top-0,
  .sm-margin-top-0 {
    margin-top: 0;
  }

  span.help.is-danger {
    margin-left: 0;
  }

  .vue-modal .modal-container {
    width: calc(100% - 20px);
  }

  .p-sm-0 {
    padding: 0 !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  textarea,
  input {
    font-size: 16px !important;
  }
}
