@media (max-width: 767px) {
  .only-sm {
    display: block !important;
  }

  body {
    background-color: #fff;
    font-weight: 400;
  }

  h2.main-title {
    font-size: 1.6em;
    text-align: left;
    & + .text-center {
      text-align: left;
      & + span.line-orange {
        display: none;
      }
    }
    & + span.line-orange {
      display: none;
    }
  }

  .content-flex-between {
    display: block;
    padding: 0;
    margin: 0;

    button {
      width: 100%;
      max-width: none;
      margin: 5px 0;
    }

    button.btn-icon-sm {
      width: 24px;
      display: inline-block;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .has-menu-bottom {
    padding-bottom: 70px !important;
  }

  .line-gray {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .button-right {
    button {
      margin: 5px;
    }
  }

  span.help.is-danger {
    margin-left: 0;
  }

  .vue-modal .modal-container {
    width: calc(100% - 20px);
  }

  .p-sm-0 {
    padding: 0 !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 768px) {
  textarea,
  input {
    font-size: 16px !important;
  }
}
