.totalHours {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50px;
  background: #e4e4e4;
  align-items: center;

  button {
    border: 1px solid black;
    padding: 3px;
    width: 100%;
  }

  input {
    width: 100%;
    padding: 0;
    background: transparent;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid gray;
    margin-bottom: 3px;
    font-size: 14px;
  }
}