.container-gray-border {
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.content-flex-between.margin-0 {
  margin: 0;
}

.tooltip-form {
  margin-top: 5px;
  background: white;
  padding: 1px 7px 0 0;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px #b3b3b3;

  .input-block {
    margin-top: 0;
    border: 0;
    font-size: 14px;
  }
  span.help.is-danger {
    text-align: left;
    position: absolute;
    font-size: 10px;
  }
}

.tooltip-form-multiline {
  padding: 10px;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  .inline {
    padding: 0;
    width: 100% !important;
  }
  .input-border {
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  span.help.is-danger {
    position: static;
  }
}

.tooltip-list {
  font-size: 16px;
  text-align: left;
  padding-bottom: 6px;
  li {
    padding: 5px;
    border-bottom: 1px solid #dbdcdb;
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.4s all ease;
    &:hover {
      background: #f1f1f1;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.form-notes {
  box-shadow: 0 0 6px #bfbfbf;
}

.tooltip-list.bg-note li {
  border: 0;
  margin: 8px 0;
  padding: 6px;
  border-radius: 7px;
  font-size: 14px;
}

.tooltip-content {
  max-height: 260px;
  overflow: auto;
}

.candidate-update-image {
  .update-image {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
    &:before {
      background-size: 120%;
    }
    label {
      font-size: 10px;
      line-height: 150px;
    }
  }
  .container-image {
    position: absolute;
    left: 0;
    top: 0;
  }
  &.container-image {
    width: 100px;
    margin: 0 auto -10px;
  }
}

.ellipsis-100 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.ellipsis-150 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
}

.ellipsis-200 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
}

.block {
  display: block;
}

.ellipsis-full {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.skill-large {
  white-space: pre-line !important;
  height: auto;
}

.break-word {
  word-break: break-word;
}

.min-100 {
  min-width: 100px;
}

.min-140 {
  min-width: 140px;
}

.min-120 {
  min-width: 120px;
}

.max-200 {
  max-width: 200px;
}

.b-tooltip.is-light.is-white .tooltip-content {
  background-color: white;
}

.container-image-candidate {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skill-inline-form {
  margin: 0;
  background: white;
  padding: 1px 7px 0 0;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 3px #b3b3b3;
  display: inline-flex;

  .input-block {
    margin-top: 0;
    border: 0;
    font-size: 14px;
  }
  span.help.is-danger {
    text-align: left;
    position: absolute;
    font-size: 10px;
  }
}
