.tooltip-form {
  margin-top: 5px;
  background: white;
  padding: 1px 7px 0 0;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px #b3b3b3;

  .input-block {
    margin-top: 0;
    border: 0;
    font-size: 14px;
  }
  span.help.is-danger {
    text-align: left;
    position: absolute;
    font-size: 10px;
  }
}

.tooltip-form-multiline {
  padding: 10px;
  text-align: left;
  margin-left: 1px;
  margin-right: 1px;
  .inline {
    padding: 0;
    width: 100% !important;
  }
  .input-border {
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  span.help.is-danger {
    position: static;
  }
}

.tooltip-content {
  max-height: 260px;
  overflow: auto;
}

.ellipsis-150 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
}

.block {
  display: block;
}

.ellipsis-full {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.break-word {
  word-break: break-word;
}

.min-100 {
  min-width: 100px;
}

.b-tooltip.is-light.is-white .tooltip-content {
  background-color: white;
}
