.vue-trix-editor {
  margin-top: 20px;

  trix-editor {
    border: 1px solid #e0e0e0;
    border-radius: 0;
  }

  trix-toolbar .trix-button-group {
    border: 0;
  }

  .is-danger {
    border: 1px solid #da3025;
  }
}

.show-notes-btn {
  border: 0;

  img {
    width: 16px;
    opacity: .8;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;

    &.open {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.list-recipients {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc(33.33% - 16px);
    display: inline-block;
    position: relative;
    margin: 0 8px 15px;

    .container-card {
      border: 1px solid #f7f7f7;
      background-color: #fbfbfb;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 14px 15px 18px 15px;

      label {
        font-size: 10px;
        font-weight: normal;
        display: block;

        &:nth-child(1) {
          margin-bottom: 8px;
        }
      }

      input {
        width: 100%;
        background: transparent;
        border: 0;
        display: block;
        color: #6e6e6e;
      }

      &.edit {
        input {
          border-bottom: 1px solid #9a9a9a;
        }
      }
    }

    .actions {
      background: #fbfbfb;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 5px;
      text-align: right;
      border: 1px solid #f7f7f7;
      border-top: 0;

      button {
        margin-left: 10px;
        border: 0;
        width: 30px;

        img {
          width: 15px;
          -webkit-transition: .6s all ease;
          -moz-transition: .6s all ease;
          -ms-transition: .6s all ease;
          -o-transition: .6s all ease;
          transition: .6s all ease;
        }

        &:hover img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }

  .newRecipient>div:nth-child(1),
  .newRecipient>div:nth-child(2) {
    border-color: #c1c1c1;
    background-color: #fff;

    input {
      border-bottom: 1px solid #c1c1c1;
    }
  }

}

@media(max-width: 767px) {


  .company-map {
    display: block;
    padding: 0;

    &>div {
      margin: 10px 0;
    }
  }

  .button-right {
    &>span {
      width: calc(100% - 30px);
      display: inline-block;
      vertical-align: middle;
    }

    .show-notes-btn {
      display: inline-block;
      vertical-align: middle;
    }

    &+.line-gray {
      margin-top: 0;
    }
  }

  .list-recipients {
    display: block;

    li {
      width: 100%;
      margin: 10px 0;
    }
  }
}


/* Specific company*/
.wrapper-request-top,
.company-top {
  margin: 0 0 16px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
  }

  h2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.option-request-top {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #cccccc;
  padding-top: 2px;
  padding-bottom: 2px;
}

.billing-address {
  background: $accent;
  color: white;
  padding: 2px 5px;
  margin: 0;
  font-size: 11px;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.locations-aside-map {
  width: 100%;
  overflow: hidden;
  height: 50vh;
  background: #e2e2e2;
  margin-top: 10px;
  border-radius: 5px;
}

.list-location-icon {
  list-style: none;
  box-shadow: 0 0 4px #cecece;

  li {
    position: relative;
    padding-left: 22px;
    border-bottom: 1px solid #cecece;
    font-size: 14px;

    &:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 3px;
      background-image: url("../src/assets/images/icon_location.png");
      background-size: contain;
      opacity: .4;
    }
  }

  .list-location-actions {
    display: flex;
    margin-bottom: 10px;
    padding: 8px 5px 8px 26px;
    position: relative;

    p {
      margin: 0;
    }

    &:before {
      left: 8px;
      top: 11px;
    }

    .action-buttons {
      width: 120px;
      transition: .5s all ease;
      margin-top: -6px;
    }
  }
}

.job-positions-table {
  width: 100%;

  td.border-bottom {
    border-bottom: 0;
    //border-bottom: 1px solid #e2e2e2;
  }

  tbody:nth-child(even) {
    background-color: #ececec;
  }
}

/* Floating menu*/
.floating-menu-container:hover .floating-menu {
  display: block;
}

.floating-menu-container {
  position: relative;
}

.floating-menu {
  display: none;
  position: absolute;
  padding: 20px 0;
  right: 0;
  z-index: 1;
  top: 3px;
}

.floating-menu-nav {
  width: 100%;
  min-width: 240px;
  border: 1px solid #d8d7d7;
  border-radius: 5px;
  background-color: white;
  z-index: 9;
  box-shadow: 1px 1px 10px #bdbdbd;

  a:hover {
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    border-bottom: 1px solid #d8d7d7;
    opacity: .8;

    .close-button-light {
      border: 0;
      width: 8px;
      height: 8px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .floating-menu-item {
    border: 0;
    padding: 6px 10px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #d8d7d7;
    font-weight: normal;
    font-size: 14px;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.floating-menu-button {
  border: 0;
  position: relative;
  top: -2px;

  img {
    width: 18px;
    height: 18px;
    min-width: 15px;
    object-fit: contain;
    opacity: .8;
  }

  &:hover {
    transform: scale(1.07);
  }

  .img-arrow {
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

@import "variables";
/* Specific contact person*/

.contact-person-card {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 14px 10px 14px 10px;
}

.card-header-border {
  border-bottom: 1px solid #dedede;
  margin-left: -10px;
  margin-right: -10px;
  padding: 6px 10px;
  margin-top: -14px;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border-radius: 10px 10px 0 0;
}

.create-new-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;

  button {
    height: auto;
    border: 0;
    font-weight: bold;
    color: #a0a0a0;
    transition: .8s all ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}


/* Base */
.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: initial;
}

.col {
  flex: 1 0 0;
}

.col-1 {
  width: 8.3%;
  flex: 0 0 auto;
}

.col-2 {
  width: 16.6%;
  flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6%;
}

.col-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-7 {
  width: 58.3%;
  flex: 0 0 auto;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6%;
}

.col-12 {
  width: 100%;
  flex: 0 0 auto;
}

.col-padding {
  padding: 8px;
}

/*By percentages*/
.col-33 {
  width: 33.33%;
  padding: 8px;
  min-width: 250px;
}

@media (max-width: 767px) {
  .col-sm-0 {
    width: 0;
  }

  .col-sm-1 {
    width: 8.3%;
  }

  .col-sm-2 {
    width: 16.6%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3%;
  }

  .col-sm-5 {
    width: 41.6%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3%;
  }

  .col-sm-8 {
    width: 66.6%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3%;
  }

  .col-sm-11 {
    width: 91.6%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-padding {
    padding: 8px 0;
  }

  .sm-p-0 {
    padding: 0 !important;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .col-md-1 {
    width: 8.3%;
  }

  .col-md-2 {
    width: 16.6%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6%;
  }

  .col-md-6 {
    width: 50%;
    flex: 0 0 auto;
  }

  .col-md-7 {
    width: 58.3%;
    flex: 0 0 auto;
  }

  .col-md-8 {
    width: 66.6%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3%;
  }

  .col-md-11 {
    width: 91.6%;
  }

  .col-md-12 {
    width: 100%;
  }
}

.w-100 {
  width: 100%;
}

/*Paddings*/
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 20px;
}

.list-dots {
  list-style: disc;
  padding-left: 24px;
}

.table-detail {
  td {
    padding: 6px 16px 6px 0;
  }
}

.min-height-300 {
  min-height: 300px;
}

.highlight-content {
  background: #f3f3f3;
  padding: 8px 22px 8px 16px;
  border-radius: 5px;
  display: inline-flex;
  margin-bottom: 16px;
  min-width: 60%;
  position: relative;
  flex-wrap: wrap;

  .item {
    padding-right: 30px;
    margin-bottom: 8px;
  }

  p {
    margin: 0;
  }

  span {
    font-size: 12px;
  }

  button.btn-icon-sm {
    position: absolute;
    right: 5px;
  }
}


pre.long-description {
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  white-space: break-spaces;
  font-weight: normal;
  line-height: 1.4;
  max-width: 700px;
}

.valign-middle {
  vertical-align: middle;
}


/* Basic Tabs */

.tabs-basic {
  border-bottom: 2px solid #efefef;
  padding: 0 20px;

  li {
    display: inline-block;
    padding: 8px 10px;
    font-weight: normal;
    position: relative;
    color: #8c8c8c;
    font-size: 16px;
    cursor: pointer;
    margin-right: 30px;
    transition: .4s all ease;

    &.active {
      color: $primary;

      &:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -3px;
        width: calc(100% + 6px);
        height: 4px;
        border-radius: 2px;
        background: $primary;
        transition: .6s all ease;
      }
    }

    &:hover {
      opacity: .6;
    }
  }
}

.tabs-home {
  padding: 0;

  li {
    font-size: 18px;
    font-weight: 600;
    color: #3c3c3c;
    padding-top: 0;
    padding-bottom: 5px;
    opacity: .4;

    &.active {
      color: #3c3c3c;
      opacity: 1;
    }
  }
}

/*Detail document*/
.container-document-detail {
  margin: 15px 0;
  padding: 4px 10px 4px 50px;
  width: 100%;
  box-shadow: 0 0 2px #c1c1c1;
  position: relative;

  &:before {
    content: '';
    width: 40px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff9932 url("../src/assets/images/document-white.png") no-repeat 50%;
    background-size: 60%;
  }

  p {
    margin: 0;
  }
}


@media(max-width: 999px) {
  .company-wrapper .highlight-content {
    flex-wrap: wrap;

    .d-inline-flex {
      flex-wrap: wrap;
      width: 100%;
    }

    .item {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

@media(max-width: 800px) {
  .company-wrapper {

    .col-8,
    .col-4,
    .col-33 {
      width: 100%;
      padding: 0 !important;
    }

    .highlight-content {
      display: block;

      button.btn-icon-sm {
        top: 5px;
      }
    }
  }

  .container-flex.p-2 {
    padding: 0 !important;
  }

  .contact-person-card {
    margin-bottom: 16px;
  }

  .company-top {
    padding: 0;
    align-items: flex-start;

    h2 {
      margin-left: 0;
      font-size: 24px;
    }
  }

  /*
  Floating menu
  */
  .floating-menu-button img {
    width: 20px;
    height: 20px;
  }

  /*
  Tabs
  */
  .tabs-basic {
    padding: 0;
    margin-bottom: 20px;
  }
}


/*
Company Profile
*/

.profile-content.company-profile {
  .container-image {
    width: 100px;
  }

  .update-image {
    width: 100px;
    height: 100px;

    label {
      line-height: 1;
      display: flex;
      align-items: flex-end;
    }
  }
}

.container-shadow {
  box-shadow: 0 0 4px #c6c6c6;
}

.container-notes {
  padding: 8px;
  background: #fdfdfd;

  li {
    font-size: 14px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #efefef;

    &:nth-last-child(1) {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.min-h-3em {
  min-height: 3em;
}

/*
section-top-title
*/

.button-col {
  width: 100%;
  padding: 8px 5px;
}

@media (max-width: 767px) {
  .section-top-title {
    .col-sm-12 {
      order: 3;
    }
  }
}

.recruiter-action {
  .btn-icon-worker-plus {
    opacity: 0;
  }

  &:hover .btn-icon-worker-plus {
    opacity: 1;
  }
}


.sm-select {
  width: 50px;
  border: 0;
  padding: 3px 8px;
}

/*
    * IMAGE SIZES
*/
.img-rounded {
  border-radius: 50%;
}

.img-20 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;

  span {
    font-size: 14px;
  }
}

.img-30 {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  object-fit: cover;

  span {
    font-size: 14px;
  }
}

.img-40 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-50 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.img-100 {
  width: 100%;
  height: 100%;
  font-size: 30px !important;
  object-fit: cover;

  span {
    font-size: inherit;
  }
}

@media (max-width: 767px) {
  .tabs-home {
    display: block;
  }
}