@import './variables';

.wrapper-worker-top {
  display: flex;
  justify-content: space-between;
  .worker-profile-image img {
    width: 30px;
    height: 30px;
  }
  .btn-icon-edit {
    margin-left: -10px;
  }
}

.contain-worker {
  padding: 20px;
  h3 {
    margin: 15px 0;
    font-size: 1.15em;
  }
  section {
    margin-bottom: 25px;
  }
  .line-gray {
    margin-bottom: 10px;
  }
  h2 {
    margin: 0;
  }
  .tag-id {
    background: $green;
    color: white;
    display: inline-block;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 16px;
    &.color-danger {
      background: #b41900;
    }
  }

  .padding-100 {
    padding: 20px 100px;
  }
}

.worker-profile-image .btn-icon-edit {
  margin-right: -10px;
}
.worker-main {
  text-align: center;
  img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

  .icon-before:before {
    width: 18px;
    height: 18px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
    & > div {
      flex-basis: 30%;
      text-align: left;
      margin-bottom: 20px;
      &:nth-child(2) {
        padding-left: 6%;
      }
      &:nth-child(3) {
        padding-left: 6%;
      }
      &:nth-child(5) {
        padding-left: 6%;
      }
      &:nth-child(6) {
        padding-left: 6%;
      }
    }
  }
}


.worker-documents {
  & > div {
    margin: 0 0 15px;
    span:nth-child(1) {
      font-weight: 400;
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }
    span:nth-child(2) {
      display: inline-block;
      width: calc(70% - 30px);
    }
  }
}


.worker-information {
  & > div {
    margin: 0 0 15px;
    & > span {
      font-weight: 600;
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding-right: 10px;
    }
    .items {
      display: inline-block;
      width: calc(70% - 30px);
      vertical-align: top;

      span {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 0 5px;

        &.bg-gray {
          background-color: #eaeaea;
          border-radius: 20px;
          padding: 2px 10px;
          margin-bottom: 10px;
        }
      }

    }
  }
}


.worker-skills {
  &.margin-top-15 {
    margin-top: 15px;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    span {
      // flex-basis: 25%;
      margin-bottom: 15px;
      min-width: calc(25% - 15px);
      width: auto !important;
      margin-right: 15px;
    }

  }
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    span {
      flex-basis: 50%;
    }
  }
}


.worker-experience {
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      flex-basis: 100%;
      margin-bottom: 20px;
      padding: 10px 16px;
      h4 {
        margin-bottom: 5px;
        span {
          font-weight: 300;
        }
      }
      .actions {
        opacity: 0;
      }
      &:hover {
        box-shadow: 0 0 5px #e2dfe2;
        border-radius: 5px;
        .actions {
          opacity: 1;
        }
      }
    }
  }
}

.worker-comments {
  .comment {
    padding-left: 5px;
    img {
      width: 45px;
      border-radius: 50%;
      height: 45px;
      object-fit: cover;
    }
    div {
      width: calc(100% - 70px);
      display: inline-block;
      vertical-align: top;
      padding-left: 15px;
      padding-right: 30px;
      h4 {
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: 600;
      }
      .content-rating {
        padding: 0;
        margin: 10px 0;
      }
    }
  }
}

.statusLight {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #469a1f;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  z-index: 1;
  &.disable {
    background: #9a1f1f;
  }
}

.detail-worker-profile {
  width: 100%;
  display: flex;
  .width-30 {
    font-weight: 600;
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
  .width-70 {
    display: inline-block;
    width: calc(70% - 30px);
  }
}

.profile-licenses {
  display: flex;
  flex-wrap: wrap;
}
.container-license {
  position: relative;
  box-shadow: 1px 1px 3px #e0e0e0;
  border: 1px solid #e0e0e0;
  padding: 2px 10px 10px 70px;
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
  min-width: 380px;
  p {
    margin: 0;
  }
  &:before {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff9932 url("/assets/images/document-white.png") no-repeat 50%;
    background-size: 60%;
  }
  h4 {
    word-break: break-all;
  }

  &.licenses-create {
    display: inline-block;
    strong.fw-400 {
      display: flex;
      align-items: center;
      input {
        border-width: 0 0 1px 0;
      }
      & > input,
      & > div {
        width: 100%;
        min-width: auto;
      }
    }
  }
}
.worker-profile-image {
  text-align: center;
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.worker-profile-modal {
  .fz1 {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    top: -5px;
  }

  .update-image label {
    z-index: 3;
    color: white;
  }
}

.max-width-158 {
  max-width: 158px;
}

.container-worker-top {
  text-align: center;
  margin-bottom: 30px;
}

.minWidth-date160 {
  min-width: 160px;
  display: block;
  margin-bottom: 5px;
}


.filter-wage {
  margin-bottom: 10px;
  select {
    display: inline-block;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
  }
}

@media(max-width: 970px) {
  .contain-worker {
    padding: 0 50px;
    .padding-100 {
      padding: 0;
    }
  }

}
@media(max-width: 767px) {
  .contain-worker {
    padding: 15px;
    .padding-100 {
      padding: 0;
    }

    .action-buttons.text-right {
      position: relative;
      z-index: 1;
    }
    section {
      margin-bottom: 10px;
      margin-top: 10px;
      position: relative;
      z-index: 1;
    }

    .custom-switch {
      position: relative;
      margin: 10px -5px 30px;
      button {
        font-size: 14px;
      }
    }
  }

  .worker-main {
    img {
      width: 200px;
      height: 200px;
    }
    .items {
      margin: 20px 0 0;
      text-align: center;
      .icon-before:before {
        display: block;
      }

      & > div {
        flex-basis: 50%;
        &:nth-child(3),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6) {
          padding: 0;
        }
        padding-right: 10px;


      }
    }
  }

  .worker-documents .scroll {

    div {
      display: inline-block;
      width: 60%;
      margin-right: 10px;
      white-space: normal;
      min-height: 120px;
      vertical-align: top;
      position: relative;
      div {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 7px #dadada;
        border: 1px solid #dadada;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 0;
        word-wrap: break-word;
        padding: 60px 10px 10px;
        span {
          width: 100%;
          display: block;
          // order: 2;
        }
        .icon-img {
          width: 100%;
          font-size: 12px;
          &:before {
            display: flex;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 15px;
          }
          a {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            display: inline-block;
            margin: 10px 0 0;
          }
        }
      }
    }
  }

  .worker-skills {
    .scroll,
    .col-2 {
      display: block;
    }
    & > div span {
      // flex-basis: 50%;
      box-shadow: 2px 2px 7px #dadada;
      border: 1px solid #dadada;
      border-radius: 5px;
      padding: 10px;
      width: 40%;
      margin-right: 10px;
      display: inline-block;
      font-size: 14px;
      white-space: normal;
      vertical-align: top;
      min-height: 58px;
      word-wrap: break-word;
    }

    .icon-pdf {
      a {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: inline-block;
        margin: 10px 0 0;
      }
      &:before {
        display: block;
        position: static;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .worker-experience ul {
    list-style: none;
    padding-left: 0;
    li {
      flex-basis: 100%;
      border-bottom: 1px solid #ececec;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }
  }

  .worker-comments {
    .button-right button {
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
    }
    .comment div {
      width: 100%;
      padding: 0;
    }
  }

  .worker-information > div .items span.bg-gray {
    margin-bottom: 10px;
  }

  .worker-profile-image {
    position: relative;
  }

  .hover-actions {
    .actions {
      opacity: 1;
    }
    .button-right {
      .section-title {
        display: inline-block;
        width: calc(100% - 30px);
        vertical-align: middle;
        margin-top: 0;
      }
      button {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .worker-documents > div span:nth-child(2) {
    padding-left: 15px;
    font-weight: 200;
    word-break: break-word;
  }

  .container-license {
    min-width: auto;
    width: 100%;
    margin-right: 0;
    .button-right {
      display: flex;
      button {
        width: 26px;
      }
    }
  }

  .worker-experience {
    ul li.active div {
      padding: 0;
    }
    li .button-right {
      display: flex;
      button {
        margin: 0 0 0 10px;
      }
    }
  }
  .contain-worker section {
    position: static;
  }

  .contain-check label {
    min-width: calc(50% - 22px);
  }

  .vue-modal .modal-container.modal-light.overflow-initial {
    overflow: auto;
  }
}
