@import './variables';
.main-container.path-register-banner .white-container,
.main-container.path-register-worker .white-container,
.main-container.path-register-company .white-container{
  //width: 70%;
  max-width: 850px;
  margin: 0 auto;
  min-width: 600px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;

  /*
  .register-worker {
    display: flex;
    .banner-register {
      flex-basis: 30%;
      background-image: url('assets/images/bg1.jpg');
    }

    form {
      flex-basis: 70%;
    }
  }
  */

  .form-md {
    margin: 0;
    width: 100%;
  }
  .form-register-worker,
  .form-register-company{
    box-shadow: 6px 6px 10px #d6d6d6;
    position: relative;
    background-color: white;
    padding: 30px;
    .inline {
      width: 100%;
    }
    .form-100m15{
      width: calc(100% - 15px);
    }
  }



  .steps-register {
    list-style: none;
    text-align: center;
    display: flex;
    li {
      display: inline-block;
      margin: 10px 0 0;
      width: 40%;
      padding: 10px 10px;
      background: #e6e6e6;
      text-transform: capitalize;
      user-select: none;
      &.active {
        background: #fff;
        position: relative;
       // color: #fff;
        /*
        &:after {
          content: "";
          width: 0;
          background: transparent;
          position: absolute;
          right: -42px;
          top: 0;
          border: solid 21px transparent;
          border-left-color: #4e4e4e;
          height: 0;
        }
        &:before {
          content: "";
          width: 0;
          background: transparent;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 21px transparent;
          border-left-color: #e6e6e6;
          height: 0;

        }
        */
      }
    }
    /*
    span {
      font-size: 14px;
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-size: contain;
        margin: 0 auto 10px;
      }
    }
    */
    /*
    .about:before {
      background-image: url("assets/images/icon_user.png");
    }

    .documents:before {
      background-image: url("assets/images/icon_report.svg");
    }

    .work:before {
      background-image: url("assets/images/icon_industry.png");
    }

    .experience:before {
      background-image: url("assets/images/icon_time.png");
    }
    */
  }



  .register-worker,
  .register-company{
    button.outline-btn.orange-button,
    button.background-btn.orange-button{
      margin: 40px auto 0;
      display: block;
    }

    .action-buttons button.orange-button,
    .action-buttons button{
      display: inline-block;
      margin: 30px 10px 0;
    }


    .mtop5{
      margin-top: 5px;
    }

    .group-dinamic-input {
      width: calc(50% - 10px);
    }

    .group-50.file-upload{
      width: calc(50% - 10px);
    }

    .contain-check {
      height: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      label {
        flex-basis: 25%;
        margin: 10px 0;
      }
    }

    /*check*/

    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it

      & + span {
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      // Box.
      & + span:before {
        content: '';
        margin-right: 5px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
      }

      // Box hover
      &:hover + span:before {
        background: #dee7ef;
      }

      // Box checked
      &:checked + span:before {
        background: #21b7ff;
      }

      // Disabled state label.
      &:disabled + span {
        color: #b8b8b8;
        cursor: auto;
      }

      // Disabled box.
      &:disabled + span:before {
        box-shadow: none;
        background: #ddd;
      }

      // Checkmark. Could be replaced with an image
      &:checked + span:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
                2px 0 0 white,
                4px 0 0 white,
                4px -2px 0 white,
                4px -4px 0 white,
                4px -6px 0 white,
                4px -8px 0 white;
        transform: rotate(45deg);
      }
    }

    .multiple-line-group {
      .button-right {
        flex-wrap: wrap;
      }
      .form-50 {
        width: calc(50% - 4px);
        margin: 5px 0;
        display: flex;
        button{
          height: 32px;
          border-radius: 0;
          padding: 6px;
          margin: 0;
          width: 56px;
        }
      }
    }



  }


  .account-section {
    .form-75 {
      display: block;
      margin: 8px auto;
    }
  }

}

@media(max-width: 767px){
  .main-container.path-register-banner .white-container,
  .main-container.path-register-worker .white-container,
  .main-container.path-register-company .white-container{
    width: 100%;
    min-width: 0;
    .white-container-mobile {
      margin-top: 0px;
    }

    .form-register-worker,
    .form-register-company{
      padding: 15px;
      box-shadow: none;

      .contain-check label {
        flex-basis: 50%;
      }
    }

    .steps-register li{
      font-size: 12px;
      padding: 10px 5px;
    }
  }
}