.table-requests {
  .floating-menu-container {
    position: relative;
    top: 2px;
  }
}

.filter-status-request {
  font-weight: normal;
  margin-bottom: 5px;
}

.request-check {
  position: absolute;
  z-index: 1;
  width: 12px;
  left: 3px;
  top: 3px;
}

.wrapper-request {
  .section-left {
    padding: 10px 40px 10px 10px;
  }
  .section-right {
    padding: 10px;
  }
}

.highlight-content .worker-options {
  .relative {
    position: relative;
  }
  .btn-icon-sm {
    background-size: 100%;
    min-width: 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;
  }
}

.request-shift-container {
  margin-left: 16px;
}


@media(max-width: 1024px) {

  .table-requests {
    border: 0;
    col {
      width: 100%;
    }
    thead {
      display: none;
    }
    tbody {
      display: flex;
      flex-wrap: wrap;
    }
    tr {
      display: inline-flex;
      flex-wrap: wrap;
      width: calc(33% - 20px);
      padding: 5px;
      border: 1px solid #e6e6e6;
      margin: 10px;
      border-radius: 5px;
      position: relative;
    }
    td {
      flex-basis: 100%;
      &:before {
        display: none;
      }
      &.action {
        display: inline-block;
        flex-basis: auto;
      }
      &:nth-child(1) {
        flex-basis: 40px;
      }
      &:nth-child(2) {
        flex-basis: calc(100% - 50px);
        padding-top: 0;
      }
      &.action {
        position: absolute;
        right: 0;
        top: 10px;
      }
    }

    tbody td {
      padding: 4px 0;
    }
    .btn-icon-sm {
      width: 30px;
      height: 30px;
      margin: 2px 10px;
    }

    .b-tooltip.is-top .tooltip-content {
      transform: translate(-10%, 0px);
    }
  }

  .table-requests.table-sm-full {
    td:nth-child(1) {
      flex-basis: 100%;
    }
  }

  .bordered-cells tbody tr {
    border-width: 1px;
  }

  .agency-workers {
    padding: 0 !important;
    td.action {
      position: static;
      vertical-align: inherit;
    }
  }
}

@media(max-width: 767px) {
  .table-requests {
    tr {
      display: flex;
      width: 100%;
      margin: 10px 0;
    }
    .action > .text-center > button {
      margin: 0;
      padding: 0 10px;
    }
  }

  .wrapper-request {
    .section-left {
      padding: 0;
    }
    .section-right {
      padding: 0;
      margin-top: 16px;
    }

    .highlight-content {
      flex-wrap: wrap;
      margin-top: 16px;
    }
  }

  .wrapper-request-top {
    padding: 0;
    display: block;
    h2 {
      margin: 0;
    }
    & > div > img {
      display: none;
    }
    .floating-menu-container {
      position: absolute;
      right: 20px;
      top: 17px;
    }
  }

  .filter-status-request {
    text-align: left;
    label {
      margin: 5px 5px 0 0;
    }
  }

  .sm-button-absolute {
    top: 0;
    .btn-icon-sm {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }

  .request-shift-container {
    margin-left: 0;
    display: inline-block;
    margin-top: 1.5em;
  }
}


/*
CREATE REQUEST FORM
*/

.line-orange {
  margin-left: 0;
}

.form-section {
  transition: 0.5s all ease;
  &.locked {
    position: relative;
    &:before {
      content: "";
      width: calc(100% + 20px);
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      left: -10px;
      top: 0;
      z-index: 8;
    }
  }
}

.alert-error {
  color: #f79483;
  position: relative;
  padding: 0.4rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f79483;
  font-size: 10px;
}

.resume-title.bg-gray {
  border-top: 1px solid #5f5f5f;
  padding-top: 10px;
  margin-top: 10px;
}


@media(max-width: 767px) {
  .form-create-request .form-100 {
    width: 100%;
  }
}

.contain-new-comment {
  padding: 0 10px;
  text-align: left;
  textarea {
    width: 100%;
    height: 100px;
    margin-top: 7px;
    border: 1px solid #afafaf;
    padding: 10px;
    &.is-danger {
      border-color: #da3025;
    }
  }
}

.timepicker.control {
  height: 35px;
}

.alert-warning-red {
  color: #721c24;
  background-color: #f8d7da;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
}

.vue-modal .modal-container.modal-light.overflow-initial {
  overflow: initial;
}

.notes-tooltip {
  width: 300px;
  position: absolute;
  background: white;
  height: auto;
  z-index: 10;
  padding: 10px;
  right: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px grey;
  max-height: 50vh;
  overflow: auto;

  h2 {
    font-size: 16px;
    text-align: left;
  }
}

@media(max-width: 882px) {
  .hide-md {
    display: none;
  }
}

.contain-switch {
  display: flex;
  & > p {
    margin-right: 15px;
    font-weight: 400;
  }
}

.switch-container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 40px;
  font-size: 12px;
  label {
    margin: 0 8px;
    display: block;
  }
}
