.filter-table {
    background-color: #f3f3f3;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 30px;

    select {
        min-width: 160px;
    }

    .input-border {
        margin-left: 5px;
    }
}

.table-report{
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead{
        background-color: #404040;
        th {
            color: white;
        }
    }

    th, td {
        padding: 6px 10px;
        border: 1px solid #ddd;
    }

    td {
        padding: 10px 10px;

    }

    span.icon-pdf {
        cursor: pointer;
    }

    tbody tr:hover {
        transition: .3s all ease;
        background-color: #f3f3f3;
    }
}

.tabs-reports {
    ul {
        list-style: none;
        //margin: 0 0 40px;
        text-align: center;
        display: flex;
        width: 80%;
        margin: 0 auto 40px;
        li {
            display: inline-block;
            background: #f2f2f2;
            width: 100%;
            padding: 7px 20px;
            border-right: 1px solid #cacaca;
            cursor: pointer;
            &:last-child{
                border-right: 0;
            }
            &.active {
                background-color: $primary;
                color: white;

            }
        }
    }
}

.table-report-simple {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead{
        th {
            vertical-align: bottom;
            color: #404040;
            font-weight: bold;
            border-bottom: 2px solid #ddd;
        }
    }
    tr {
        border-bottom: 1px solid #ddd;
    }
    th, td {
        padding: 12px 10px;
        vertical-align: middle;
    }

    tbody tr:hover {
        transition: .3s all ease;
        background-color: #f3f3f3;
    }
}



.container-modal-update {
    & > div {
        margin-bottom: 10px;
        label {
            font-size: 14px;
        }
    }
    .cross-icon {
        border-radius: 50%;
        padding: 10px;
        background-color: #d5d5d5;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        & > div {
            flex-basis: calc(50% - 5px);
        }
    }
}


td.table-actions {
    vertical-align: middle;
    img {
        cursor: pointer;
        transition: .4s all ease;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }

        &.disabled {
            opacity: .4;
            pointer-events: none;
        }
    }


}

.border-bottom {
    border-bottom: 3px solid #efefef;
    padding-bottom: 10px;
}


/*payrol*/
.worker-selected {
    width: 100%;

    img {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    span {
        display: inline-block;
        vertical-align: middle;

    }
}

table tr th{
    vertical-align: bottom;
}

th, td{
    .t-td {
        width: 100px;
    }
    &.collapsed {
        display: none;
    }
}

.relative {
    position: relative;
}

.scroll-desktop {
    min-height: 300px;
    overflow: auto;

    &.height-auto {
        min-height: 0;
    }
}

.vue-modal .modal-container.full-container-modal {
    width: calc(100vw - 60px);
    max-height: calc(100vh - 30px);
    min-height: 300px;
    overflow: hidden;
    .main-title {
        margin: 0;
        padding: 2px 0 4px;
    }
    .filter-table {
        margin: 0;
    }
    .tools.relative {
        margin: 15px;
    }
}

.table-report-container {
    overflow: auto;
    width: calc(100% - 30px);
    max-height: 60vh;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table-report-light {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead{
        th {
            color: #404040;
            font-weight: bold;
            background: #f3f3f3;
        }
    }

    th, td {
        padding: 6px 10px;
        border: 1px solid #ddd;
    }

    tbody tr:hover {
        transition: .3s all ease;
        background-color: #f3f3f3;
    }
}

.table-options {
    display: flex;
    justify-content: space-evenly;
    min-width: 120px;
    span {
        vertical-align: top;
    }
    img {
        width: 25px;
        height: 25px;
        margin: 4px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

}

.table-head-fixed {
    ::-webkit-scrollbar {
        display: none;
    }
}

.filter-table > div {
    width: 100%;
    .multiselect {
        display: inline-block;
        width: calc(100% - 200px);
    }
}

@media(max-width: 768px){
    .filter-table > div {
        width: 100%;
    }
    .filter-table > div .multiselect {
        display: block;
        width: 100%;
    }
    .tools div {
        width: 100%;
    }

    .vue-modal .modal-container.full-container-modal .main-title {
        padding: 7px 15px
    }
    .tabs-reports ul{
        margin-bottom: 0; 
    }
    .button-right .filter-invoice  button{
        margin: 0 auto;
    }

    .table-options img {
        min-width: 25px;
        margin: 0 10px;
    }
}

.empty-placeholder-text {
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    opacity: 0.3;
}



.tools {
    margin: 0;
    padding: 15px;
    background: white;
    border: 1px solid #bfbfbf;
    border-width: 1px 0;
    display: flex;
    & > div {
        margin-right: 20px;
    }
}
/*end payrol*/

div.empty {
    padding: 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ececec;

    .link-button {
        display: block;
        padding: 5px 20px;
        margin: 10px auto;
        font-size: 14px;
        background: white;
        color: #e4e4e4;
        font-weight: 600;
        border: 2px solid #e2e2e2;
        transition: .4s all ease;
        &:hover {
            background: #ececec;
            color: #fff;
        }
    }
}

@media (max-width: 900px) {
    .tabs-reports ul {
        width: 100%;
    }
}

@media(max-width: 767px){
    .filter-table {
        display: block;
        input,
        select,
        button{
            width: 100%;
            margin: 10px 0;
            max-width: none;
        }
    }

    .tabs-reports ul {
        display: block;
        li{
            width: 100%;
            margin: 5px 0;
            border: 0
        }
    }
}


/* INVOICES and SUMMARY REPORTS*/

.modal-container .mBottom {
    margin-bottom: 15px;
}

span.is-dark.is-bottom.is-medium.tooltip.disabled {
    background: transparent;
    visibility: hidden;
}

.hidden-button {
    width: 15px;
    border: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.1;

    &:hover {
        opacity: 0.5;
    }
}

.filter-invoice {
    margin: 0;
}

.email-modal {

    .attachments-email {
        margin-bottom: 5px;

        li {
            position: relative;
            background: #ececec;
            padding: 5px 30px 5px 10px;
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 5px 0;

            button {
                width: 10px;
                height: 10px;
                border: 0;
                opacity: .6;
                position: absolute;
                right: 10px;
                top: 8px;
            }
        }
    }

    .modal-container .mBottom {
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        background: #505050;
        font-weight: bold;
        color: whitesmoke;
    }

    .modal-container.modal-light .cross-icon {
        background-color: transparent;
    }

    input.subject {
        padding: 4px 2px;
        border: 0;
        border-bottom: 1px solid #cccccc;
        color: #4a4a4a;
    }

    .attachment-btn {
        padding: 5px 10px;
        font-weight: bold;
        color: #666666;
        display: inline-block;
        margin-left: 5px;
        border: 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        -ms-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;

        input {
            display: none;
        }

        img {
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        &:hover {
            opacity: .6;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #323232;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: #323232;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: #323232;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #323232;
        opacity: 1;
        font-weight: 600;
        font-size: 14px;
    }

    .ql-container.ql-snow {
        max-height: 300px;
        overflow: auto;
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.hiddenRemove.disabled {
    visibility: hidden;
}

#toast-modal > h2 {
    text-transform: none;
}

.block-recipient {
    border-bottom: 1px solid #cccccc;
    color: #4a4a4a;
    padding: 4px 2px;

    span {
        font-size: 14px;
        padding: 0px 5px;
        display: inline-block;
        line-height: 20px;
        height: 22px;
        border: 1px solid #cccccc;
        margin: 0 4px 5px 0;
        vertical-align: middle;
        border-radius: 4px;

        &.wrong {
            border-color: #ff7979;
            color: #ff7979;
        }

        button {
            width: 8px;
            border: 0;
            margin: 0 2px 0 5px;
            opacity: .6;
        }
    }

    textarea {
        border: 0;
        resize: none;
        font-size: 14px;
        padding: 0px 5px;
        display: inline-block;
        line-height: 20px;
        height: 22px;
        vertical-align: middle;
        margin: 0 4px 5px 0;
        width: 240px;
        transition: .4s all ease;

        &.full {
            width: 100%;
        }
    }
}