table.bordered-cells {
  width: 100%;
  thead {
    font-size: 12px;
    color: #d0d0d0;
    font-weight: bold;
  }
  tbody {
    tr:hover {
      background: #f5f5f5;
    }
    tr {
      border: 1px solid #e6e6e6;
    }
    td {
      cursor: pointer;
      position: relative;
      padding: 8px 3px;
      vertical-align: middle;
      & > div {
        padding: 0 5px;
        position: relative;
        &.valign-middle {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/*Main table*/
.main-table {
  border: 1px solid #e6e6e6;
  font-weight: 400;
  thead {
    td {
      background-color: #e6e6e6;
      padding: 3px;
      color: #3c3c3c;
    }
  }
}

@media (max-width: 1024px) {
  table.table-candidates {
    border: 0;
    thead {
      display: none;
    }
    tbody {
      display: flex;
      flex-wrap: wrap;
    }
    tr {
      display: inline-flex;
      flex-wrap: wrap;
      width: calc(33% - 18px);
      padding: 5px;
      border: 1px solid #e6e6e6;
      margin: 10px;
      border-radius: 5px;
    }
    td {
      flex-basis: 100%;
      &:before {
        display: none;
      }
      &.action {
        display: inline-block;
        flex-basis: auto;
      }
      &:nth-child(1) {
        flex-basis: 40px;
      }
      &:nth-child(2) {
        flex-basis: calc(100% - 60px);
      }
    }

    tbody td {
      padding: 4px 0;
    }

    .btn-icon-sm {
      width: 20px;
      height: 20px;
      margin: 2px 6px;
      background-color: white;
    }

    .b-tooltip.is-top .tooltip-content {
      transform: translate(-10%, 0px);
    }
  }

  table.sm-action-top {
    tr {
      position: relative;
    }
    td.action {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  table.sm-table-no-image {
    td:nth-child(1) {
      flex-basis: 100%;
    }
  }
}

@media (max-width: 900px) {
  table.table-candidates {
    tr {
      display: flex;
      width: calc(50% - 10px);
      margin: 10px 5px;
    }
  }
}

@media (max-width: 767px) {
  table.bordered-cells {
    border: 0;
  }
  table.table-candidates {
    tr {
      display: flex;
      width: 100%;
      margin: 10px 0;
    }
  }
}

// table-rounding

.table-rounding {
  //column-count: 3;
  //column-gap: 50px;
  //column-rule: 1px solid #c5c5c5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .table-rounding-cell {
    display: flex;
    flex-basis: calc(33% - 20px);
    margin: 0 10px;
    flex-wrap: wrap;
    & > div {
      flex-basis: 50%;
      padding: 4px 0;
      text-align: center;
      display: inline-block;
      width: 100%;
      border-top: 1px solid #ececec;
    }
  }
}

.btn-clear-x {
  width: 10px;
  display: inline-block;
}

@media (max-width: 767px) {
  .table-rounding {
    &:nth-of-type(1) {
      .table-rounding-cell {
        display: none;
      }
      .table-rounding-cell:nth-of-type(1) {
        display: flex;
      }
    }
    .table-rounding-cell {
      flex-basis: 100%;
    }
  }
}
