// Reusable b-table styles
.b-table .table {
  table-layout: auto;
  width: 100%;

  tr {
    cursor: pointer;
  }

  td {
    vertical-align: middle !important;
  }

  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td .taginput .taginput-container {
    flex-wrap: wrap;

    .tag {
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
