/*
  COLORS
*/
$primary: #21b7ff;
$accent: #ff9932;
$green: #49c500;
$red: #c30000;
$aqua: #e9ecf3;
$gray-bg: #f3f3f3;
$gray-border: #e6e6e6;
$border-input: #e0e0e0;
$blue-dark: #117bbf;
$blue-light: #00B9FF;
$red-dark: #ed1c24;
$red-light: #F60028;
$gray-light: #f2f1f1;
$grey-light: #a8a1a5;
$grey-font: #505050;
$grey-dark: #7d7d7d;
$grey-dark-font: #3d3d3d;
$white: #fff;
$yellow: #fff500;

/*
SIZES
*/
$responsive-phone: 576px;
$responsive-tablet: 768px;
$responsive-notebook: 992px;
$responsive-desktop: 1281px;
$responsive-superdesktop: 2560px;