/*
  COLORS
*/
$primary: #00adef;
$primary-hover: #0098d6;
$navy: #0f2f44;
$blue: #1575bb;
$accent: #ff9932;
$green: #48c78e;
$danger: #e52d27;
$danger-hover: #b01c22;
$gray-bg: #f3f3f3;
$gray-border: #e6e6e6;
$border-input: #e0e0e0;
$grey-light: #a8a1a5;
$grey-font: #505050;
$grey-dark: #7d7d7d;
$white: #fff;
