/*
  COLORS
*/
$primary: #00adef;
$primary-hover: #0098d6;
$navy: #0f2f44;
$blue: #1575bb;
$blue-dark: #12689f;
$accent: #ff9932;
$accent-text: #b35c00;
$green: #48c78e;
$green-text: #2b7a0b;
$danger: #db201a;
$danger-hover: #b01c22;
$gray-bg: #f3f3f3;
$gray-border: #e6e6e6;
$border-input: #e0e0e0;
$grey-light: #6b6b6b;
$grey-font: #505050;
$grey-dark: #5f5f5f;
$white: #fff;
