<!DOCTYPE html>
<html>
<head>
    <title>Reset Password | Sigook</title>
</head>
<body style='margin:0;padding:0;background-color:#FFF;font-family:system-ui, Palatino, serif;font-size: 18px; line-height: 1.4'>
<center>
    <div style='padding: 50px 20px 20px;'>

        <div style='font-family: Impact;padding: 10px 15px 35px;font-size: 24px;letter-spacing: 1px;text-transform: uppercase;'>
            Sigook
        </div>
        <div style='background-color: #F5F5F5;padding: 50px 20px 50px;'>
            <div style='width: 90px;height: 60px;'>
              <img src='https://localhost:5001/assets/images/lock.png' style='height: 40px;'>
            </div>

            <h2 style='font-weight: 300;'>Hi</h2>
            <div style='font-weight: 200;'>
                <p style='margin:0'>You recently requested to reset your password from your All2Job account</p>
                <p style='margin:0'>Click in the button bellow to reset it.</p>
            </div>

            <a href='#'
               style='text-decoration:none;display:block;border:2px solid #21b7ff; color:#21b7ff;width: 230px;padding: 10px;margin: 20px 0;background: transparent; font-size: 14px;'>
                RESET YOUR PASSWORD
            </a>
        </div>
        
        <div style='padding: 50px 20px 30px;'>
            <div style='font-weight: 200; font-size: 14px; margin-bottom:20px;'>
                <p style='margin:0'>Get Sigook App</p>
            </div>

            <img src='https://localhost:5001/assets/images/app_store_apple.png' style='height:40px;'/>
            <img src='https://localhost:5001/assets/images/play_store_google.png' style='height:40px; margin-left:15px;'/>
        </div>

    </div>
</center>
</body>
</html>