@model Covenant.IdentityServer.Views.Notifications.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "_NotificationsLayout";
}
<table style="background-color: #F5F5F5; padding: 10px 20px 10px; text-align: center;" width="100%">
    <tr>
        <td>
            <div>
                @await Html.PartialAsync("_EnvelopeLogo")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h2 style="font-weight: 300;">Hello</h2>
            <div style="font-weight: 200;">
                <p style='margin:0'>You recently requested to reset your password from your Sigook account</p>
                <p style='margin:0'>Click in the button bellow to reset it.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@Model.Url" style="text-decoration: none; display: block; border: 2px solid #21b7ff; color: #21b7ff; width: 230px; padding: 10px; margin: 20px auto; background: transparent; font-size: 14px;">
                RESET YOUR PASSWORD
            </a>
        </td>
    </tr>
    <tr>
        <td>
            @await Html.PartialAsync("_TokenExpiresOn")
        </td>
    </tr>
</table>