<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Covenant.Common" value="https://pkgs.dev.azure.com/sigook/sigook/_packaging/Covenant.Common/nuget/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageSourceCredentials>
		<Covenant.Common>
			<add key='Username' value='juan' />
			<add key="ClearTextPassword" value="%PAT%" />
		</Covenant.Common>
	</packageSourceCredentials>
</configuration>