@using Microsoft.Extensions.Configuration
@using Covenant.Common.Utils.Extensions
@inject IConfiguration Configuration

<a href="https://play.google.com/store/apps/details?id=com.sigook.sigook" target="_blank"><img src="@Configuration.GetAppUrl()/assets/images/play_store_google.png" width="130px" height="40px" alt="play store" /></a>
