<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <style>
        @@media screen {
        .payroll2 .container {
            width: 98%;
            min-width: 600px;
            margin: 0 auto;
        }
        }
        </style>
</head>
<body style="font-family: 'Open Sans', 'Helvetica Neue', sans-serif; box-sizing: border-box" class="payroll2">
@RenderBody()
</body>
</html>