@model Covenant.IdentityServer.Controllers.Account.Models.CreatePasswordModel
@{
    ViewBag.Title = "Create Password";
    Layout = "_LayoutLogin";
}
<div class="main bg-login">
    <div class="logo"></div>
    <div class="main-container path-login">
        <div class="white-container">
            <div>
                <div class="login-top">
                    @await Html.PartialAsync("_Logo")
                    <p>Please create a password for your Sigook account</p>
                </div>

                <form asp-action="CreatePassword" asp-controller="Account" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Token" />
                    <div class="float-label icon-left icon-password" id="label-create-password">
                        <input id="create-password" class="input-underline" asp-for="Password" autocomplete="off" type="password" required/>
                        <label asp-for="Password">Password</label>
                    </div>

                    <div class="float-label icon-left icon-password" id="label-confirm-password">
                        <input id="confirm-password" class="input-underline" asp-for="ConfirmPassword" autocomplete="off" type="password" required/>
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                    </div>

                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All"></div>    
                        if (Model.InvalidToken)
                        {
                            <a asp-action="RequestResetPassword" asp-controller="Account">
                                This token has expired please request a new one by clicking here
                            </a>
                        }
                    }
                   
                    <button class="background-btn full-btn orange-button login-button" name="button" value="login">
                        CREATE YOUR PASSWORD
                    </button>

                </form>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_LogoBottom")
</div>