@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<a href="https://apps.apple.com/us/app/id1446736193" target="_blank"><img src="@Configuration.GetAppUrl()/assets/images/app_store_apple.png" width="130px" height="40px" alt="app store"/></a>