@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<a href="https://play.google.com/store/apps/details?id=com.sigook.sigook" target="_blank" style="text-decoration:none; color:white;"><img src="@Configuration.GetAppUrl()/assets/images/play_store_google.png" width="130px" height="40px" alt="play store"/></a>